{
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "rules": {
    "no-var": "off",
    "func-names": ["error", "never"],
    "prefer-arrow-callback": "off",
    "wrap-iife": ["error", "inside"],
    "prefer-template": "off",
    "no-unused-expressions": ["error", { "allowShortCircuit": true }],
    "prefer-spread": "off",
    "object-shorthand": "off"
  }
}
